@page
@model ProjektSchronisko.Areas.Identity.Pages.Account.Manage.FindNotificationsModel
@{
    ViewData["Title"] = "Znalezione";
    ViewData["ActivePage"] = ManageNavPages.FindNotifications;
}

<div class="text-center">
    <h3 class="text-info pt-2 pb-3">Twoje znalezione zwierzątka</h3>
</div>
<hr />