0@page
@model ProjektSchronisko.Pages.Reports.EditModel
@{
}

<h1>Edytuj</h1>

<h4>Zgłoszenie</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input hidden asp-for="ReportAnimal.IdReport" />
            <input hidden asp-for="ReportAnimal.PhotoPath" />
            <input hidden asp-for="ReportAnimal.AdderId" />
            <input hidden asp-for="ReportAnimal.AddDate" />
            <input hidden asp-for="ReportAnimal.Email" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportAnimal.TypeReport" class="control-label"></label>
                <select asp-for="ReportAnimal.TypeReport" class="form-control" asp-items="Html.GetEnumSelectList<ProjektSchronisko.Models.TypeReport>()"></select>
                <span asp-validation-for="ReportAnimal.TypeReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportAnimal.City" class="control-label"></label>
                <input asp-for="ReportAnimal.City" class="form-control" />
                <span asp-validation-for="ReportAnimal.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportAnimal.Street" class="control-label"></label>
                <input asp-for="ReportAnimal.Street" class="form-control" />
                <span asp-validation-for="ReportAnimal.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportAnimal.AnimalName" class="control-label"></label>
                <input asp-for="ReportAnimal.AnimalName" class="form-control" />
                <span asp-validation-for="ReportAnimal.AnimalName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label">Zdjęcie</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input form-control">
                        <label class="custom-file-label">Naciśnij żeby zmienić zdjęcie</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zatwierdź zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ReportAboutLossOfPet">Wróć do listy</a>
</div>