@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
</header>

<p class="text-danger">A ty gdzie się wybierasz?</p>

<div>
    <img src="~/Images/ATy.jpg" />
</div>
