@page
@model ProjektSchronisko.Pages.aboutUsModel
@{
}
<h3 class="text-info pt-2 pb-3">Co robimy?</h3>
<div>
    Obecnie w schronisku przebywa ponad 300 psów i kilka kotów leczonych po wypadkach. Wszystkie czekają na człowieka i tęsknią za jego uczuciem. Nasze schronisko jest miejscem otwartym na pracę wolontariuszy oraz wszelką formę i chęć pomocy!
</div>
<h3 class="text-info pt-2 pb-3">Misja</h3>
<div>
    Od początku prowadzeniem placówki zajmuje się Stowarzyszenie Przyjaciół Zwierząt. W tym czasie udało nam się wprowadzić wiele pozytywnych zmian. Były one możliwe głównie dzięki wpłatom darczyńców oraz odpisowi 1% podatku. Stowarzyszenie od 2010 r. ma status Organizacji Pożytku Publicznego (OPP).
</div>
<h3 class="text-info pt-2 pb-3">O nas</h3>
<div>
    Schronisko dla Bezdomnych Zwierząt w Białej Podlaskiej mieści się przy ul. Olszowej 4. Zostało utworzone w 2000 roku, zgodnie z Ustawą z dnia 13 września 1996 r. dotyczącą utrzymania czystości i porządku w gminach i realizuje zapis art.11 ust. 1 Ustawy z dnia 21 sierpnia 1997r. o ochronie zwierząt. Jego właścicielem jest Urząd Miasta.
</div> <br />
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2456.387476333969!2d23.113927315788136!3d51.999816979719036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472191ab23e16bc3%3A0xbf19fb278116df83!2sOlszowa%204%2C%2021-500%20Bia%C5%82a%20Podlaska!5e0!3m2!1spl!2spl!4v1622120620655!5m2!1spl!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>