@page
@model ProjektSchronisko.Pages.DonationModel
@{
    ViewData["Title"] = "Wsparcie Finansowe";
}
<style>
    .greenCenter {
        color: forestgreen;
        text-align: center;
    }
</style>

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<h3 class="greenCenter">
    Nie interesuje Cie wsparcie tylko jednego zwierzęcia, ale chcesz wesprzeć całą ich masę? Nie masz czasu pomagać jako wolontariusz, ale chcesz dać od siebie bardzo znaczącą pomoc?
    Bezpośrednia niecykliczna (mamy nadzieję że również wysoka) wpłata w pełni jest dla Ciebie!
</h3>