@page
@model ProjektSchronisko.Pages.VirtualAdoptionModel
@{
}

<h3 class="text-info pt-2 pb-3">NIE MOŻESZ WZIĄĆ DO DOMU? TO MOŻE ADOPCJA WIRTUALNA?</h3>
<div>
    Chęć pomagania naszym braciom mniejszym nie zawsze idzie w parze z możliwością dania im domu.
    Czasami mamy już własne zwierzęta, brak nam czasu, niekiedy ktoś z domowników jest uczulony na psa lub kota.
    Dlatego proponujemy inny wariant – ADOPCJĘ WIRTUALNĄ, dzięki której można poprawić los bezdomnego zwierzęcia przebywającego w naszym schronisku.
    Nie oznacza ona oczywiście, że schronisko przestanie szukać mu prawdziwego domu.
    Wręcz przeciwnie, do poszukiwań gorąco zapraszamy wirtualnego opiekuna, jeśli będzie miał na to ochotę.
</div>
<br />
<h3 class="text-info pt-2 pb-3">CZYM JEST TAKA ADOPCJA?</h3>
<div>
    Adopcja wirtualna związana jest z darowizną na rzecz Schroniska dla Bezdomnych Zwierząt „AZYL“.
    Pieniądze będą przeznaczone na poprawę bytu wybranego przez Państwa zwierzęcia (lepsza karma, witaminy, itp.)
    Obecnie koszt adopcji wirtualnej zwierzaka, niezależnie od jego rasy czy tez wielkości to minimum 20 zł miesięcznie.
    Na stronie internetowej Azylu znajdziecie Państwo zdjęcia naszych podopiecznych. Jeśli widok któregoś z nich szczególnie Państwa wzruszy, możecie mu pomóc, adoptując go wirtualnie. Być może będzie to jedyna w jego życiu adopcja.
</div>
<br />
<h3 class="text-info pt-2 pb-3">
    ZASADY WIRTUALNEJ ADOPCJI
</h3>
<div>
    1. Każde zwierzę może zostać wirtualnie adoptowane przez jednego opiekuna.<br />
    2. Wirtualnym opiekunem może zostać osoba prywatna, organizacja, grupa ludzi (np. szkoła, klasa) czy też firma.<br />
    Firmom z sercem dla zwierząt oferujemy możliwość umieszczenia swojego logo na naszej stronie, tuż przy zdjęciach adoptowanego wirtualnie zwierzaka.
    3. Wpłacając kwotę na konto Stowarzyszenia nr 79 8025 0007 0015 8307 2000 0010 , zostajecie Państwo na jeden miesiąc wirtualnym opiekunem wybranego zwierzęcia (aktualizację robimy w pierwszym tygodniu każdego miesiąca).<br />
    4. W tytule przelewu należy wpisać „Wirtualna adopcja + imię zwierzaka + jego nr ewidencyjny+ swój nick lub imię i nazwisko.<br />
    5. Przedłużacie Państwo swój status, dokonując takiej samej wpłaty w kolejnym miesiącu.<br />
    6. Brak kolejnej wpłaty oznacza rezygnację z adopcji.<br />
    7. Jeśli zwierzak, którego Państwo adoptowaliście wirtualnie, znajdzie dom stały, adopcja wirtualna wygasa. W takim wypadku możecie Państwo albo zaprzestać wpłat, albo przesunąć je na innego wybranka. Proszę jednak pamiętać, że raz wpłacone pieniądze to darowizna, która nie podlega zwrotowi.<br />
</div>