@page
@model ProjektSchronisko.Pages.WiseAdoptionModel
@{
}

<div>
    <img class="d-block w-100" src="~/Images/KOT.jpg">
</div>

<h3 class="text-info pt-2 pb-3">Zanim adoptujesz zwierzaka ze schroniska zastanów się !</h3>
<div>
    Każdy czworonożny towarzysz człowieka jest  z nim związany. Porzucenie jest dla niego tragedią, zawaleniem się psiego czy kociego świata. Nie rozumie, dlaczego go to spotkało, tęskni, boi się, często zaczyna chorować… Pies i kot żyją przeciętnie kilkanaście lat. Przyjmując zwierzaka pod swój dach, bierzesz za niego odpowiedzialność na całe jego życie. Zastanów się, czy jesteś na to gotowy? Czy chcą tego wszyscy członkowie rodziny?
    Przyjaźń ze zwierzakiem jest jednym z najpiękniejszych doświadczeń, które mogą stać się udziałem człowieka. Ale zwierzę to także obowiązek. Biorąc pod swój dach zwierzaka, musisz zapewnić mu pożywienie, opiekę weterynaryjną, towarzystwo, a jeśli to pies – również spacery. Pies potrzebuje ruchu – poza tym regularne wyjścia są konieczne dla jego zdrowia. poważnymi chorobami nerek Zastanów się, czy Ty i Twoi domownicy podołacie tym obowiązkom? Czy znajdziecie czas na zajmowanie się zwierzakiem? Co zrobicie ze zwierzakiem na czas wakacyjnych wyjazdów? Psa i kota trzeba odrobaczać, co roku szczepić, stosować środki przeciw pchłom i kleszczom – czy możecie zapewnić Waszemu zwierzakowi? Czy Wasza sytuacja finansowa pozwoli Wam na zapewnienie psu czy kotu leczenia, jeśli zachoruje?
    Jeśli przygarniesz psiego malucha, w pierwszym okresie będziesz musiał poświęcić mu naprawdę dużo czasu – wychować go, nauczyć zachowywania czystości. Musisz liczyć się z tym, że najprawdopodobniej nie obędzie się bez mniejszych czy większych szkód w domu – małe pieski z upodobaniem podgryzają buty, ubrania czy meble.
    Jeśli przygarniesz dorosłego psa, unikniesz zapewne kłopotów związanych z nadmierną aktywnością wieku młodzieńczego. Dorosłe psy o wiele szybciej niż szczeniaki uczą się zachowywania czystości w domu – zwykle trwa to zaledwie parę dni. Dorosłe psy są bardziej skupione i mądrzejsze, w związku z czym szybko pojmują zasady obowiązujące w nowym domu. Przyjęcie do rodziny dorosłego zwierzaka to dobra decyzja – one mają zwykle mniejsze szanse na adopcje niż „słodkie, piszczące kuleczki”, przeszły wiele złego, są bardziej świadome swojej sytuacji, dotkliwie wiec cierpią.
    Z reguły zwierzak trafiający do schroniska ma za sobą przykre przejścia. Nie znamy ich, a on nie może nam o nich opowiedzieć. Musisz liczyć się z tym, że okaże się, iż pies ma jakieś urazy, boi się pewnych ludzi czy rzeczy. Zanim zaadoptujesz zwierzę, postaraj się dowiedzieć, czy akceptuje on inne zwierzęta, jeśli już masz jakieś w domu, i czy pozytywnie reaguje na dzieci.
    W najbardziej dramatycznej sytuacji są zawsze zwierzaki, których pozbyto się, bo były już stare i chore. Niestety – jest w naszym społeczeństwie wielu takich, którzy nie zasługują na miano ludzi. Którzy porzucają wieloletniego, wiernego towarzysza jak niepotrzebny, zużyty mebel. Jeśli masz tak wielkie serce, by pokochać stworzenie już nie najmłodsze, może już nie najpiękniejsze, często schorowane – daj mu dom. Nie pożałujesz. Radości z odmienienia, a często wręcz darowania życia takiemu zwierzakowi nie da się porównać z żadną inną. Jeśli boisz się, że odejdzie zbyt szybko, pamiętaj, że troskliwa opieka może zdziałać cuda. Pamiętaj tez, że czasem miesiące są ważniejsze niż lata. Podejmując taką decyzję, musisz liczyć się jednak z tym, że starsze (ponad 10-letnie) zwierzaki – tak jak starsi ludzie – chorują. Zastanów się więc, czy stać Cię na lekarza i nierzadko drogie leki.
</div>
<h6 class="text-info pt-2 pb-3">Zwierzę nie jest rzeczą, potrzebuje miłości oraz właściwego wychowania tak samo jak człowiek, dlatego powinniśmy traktować go jak członka rodziny, wykazując zrozumienie dla jego instynktownych zachowań i zapewniając mu opiekę do końca jego dni.</h6>
